<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>HR Approval</title>
</head>
<body>
	<div class="modal-header">
		<h3 class="modal-title">Decide Last Working Day</h3>
	</div>
	<!-- ng-init="hrApprovalActionInit()" -->
	<div class="modal-body">
		<form class="form-horizontal" ng-controller="hrApprovalController"
			ng-init="hrApprovalActionInit()" name="hrApprovalForm"
			ng-submit="hrApprovalAction(hrApprovalForm)">
			<div class="form-group">
				<div class="form-group col-sm-6">
					<label class="col-sm-3 control-label no-padding-right">
						Name</label>
					<div class="col-sm-9">
						<input type="text" name="firstName" ng-model="emp_name"
							ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-3 control-label no-padding-right">Employee
						Code</label>
					<div class="col-sm-9">
						<input type="text" name="empCode" ng-model="empcode"
							ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-3 control-label no-padding-right">Resignation
						Date</label>
					<div class="col-sm-9">
						<input type="text" name="resDate" ng-model="resigndate"
							ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-3 control-label no-padding-right">Notice
						Period</label>
					<div class="col-sm-9">
						<input type="text" name="notice" ng-model=noticeperiod
							ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-3 control-label no-padding-right">RM
						Employee Code</label>
					<div class="col-sm-9">
						<input type="text" name="rm_empCode" ng-model="rmempcode"
							ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-3 control-label no-padding-right">
					RM Email</label>
					<div class="col-sm-9">
						<input type="text" name="rm_empCode" ng-model="rmemail"
							ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-3 control-label no-padding-right">HR
						Comments</label>
					<div class="col-sm-9">
						<textarea rows="3" cols="15" name="comments" ng-required="true" ng-model="comments" ng-minlength="10"></textarea>
					</div>
				</div>
				<div class="form-group row col-sm-6">
					<label class="col-sm-3 control-label no-padding-right">Last Working Day
						</label>
					<div class="col-sm-9"  >
                                    <input type="text"  ng-model="date1" datepicker1 class="form-control" id="Text5" placeholder="Select from date" />
                                   
                                </div>
				</div>
				<div></div>
				<input type="submit" value="SUBMIT" ng-disabled="hrApprovalForm.$invalid">
			</div>
		</form>
	</div>
</body>
</html>