<!DOCTYPE html>
<html lang="en">
<head>
<title>Exit Interview With Employee</title>
</head>
<body class="no-skin">
	<div class="main-container" id="main-container"
		style="margin-top: 10px;">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>
		<div class="main-content" ng-controller="exitempcontroller" ng-init="init()">

			<div class="page-content">
				<div class="page-content-area">
					<!-- /.page-header -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<div class="col-xs-12 widget-container-col ui-sortable">
										<div class="widget-box ui-sortable-handle"
											style="opacity: 1; z-index: 0;">
											<div class="widget-header">
												<h5 class="widget-title">EMPLOYEE FEEDBACK</h5>

											</div>
											
												<div class="widget-body" style="display: block;">
													<div class="widget-main form-horizontal">
													<!-- <div class="clearfix"></div> -->
													
													<form name="Exitemp" ng-submit=submit(Exitemp)  novalidate>


                                       <div class="form-group row col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="firstname">Employee First name </label>
															<div class="col-sm-9">
<input type="text"  class="col-xs-10 col-sm-12" name="firstname" ng-model="empfirstname" ng-disabled="true"/>
				
															</div>
														</div>
														
														
												<div class="form-group row col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="lastname">Employee Last name </label>
															<div class="col-sm-9">
<input type="text" class="col-xs-10 col-sm-12" name="lastname"  ng-model="Emplastname" ng-disabled="true"/>
					
															</div>
														</div>		
														
														
<div class="clearfix"></div>
														<div class="form-group col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="department">Name of Department </label>

															<div class="col-sm-9">
<input type="text"  class="col-xs-10 col-sm-12" name="department" ng-model="empdepartment" ng-disabled="true"/>
	
															</div>
														</div>

														<div class="form-group col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="emplocation">Location </label>

															<div class="col-sm-9">
				<input type="text"  class="col-xs-10 col-sm-12" name="emplocation" ng-model="Emplocation" ng-disabled="true"/>
															</div>
														</div>
														
														<div class="clearfix"></div>
															
															<div class="form-group col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="designation">Designation:</label>

															<div class="col-sm-9">

	<input type="text"  class="col-xs-10 col-sm-12" name="designation" ng-model="empdesignation" ng-disabled="true"/>
															</div>
														</div>
														
														
														
											<div class="form-group col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="empcode">Employee Code:</label>

															<div class="col-sm-9">
							<input type="text"  class="col-xs-10 col-sm-12" name="empcode" ng-model="Employeecode" ng-disabled="true"/>						
													
													</div>
														</div>
												<div class="clearfix"></div>
                             <div class="col-xs-12">
									<div class="col-xs-12 widget-container-col ui-sortable">
										<div class="widget-box ui-sortable-handle"
											style="opacity: 1; z-index: 0;">
											<div class="widget-header">
												<h5 class="widget-title">YOUR VIEWS ON LEAVING</h5>
											</div>
											
											
											<div class="widget-body" style="display: block;">
													<div class="widget-main form-horizontal">													
													
													<div class="form-group col-sm-12">
															<label class="col-sm-3 control-label no-padding-right"
																>ABOUT THE COMPANY:</label>

															<div class="col-sm-9">
															<div ng-repeat="feedback in empquestion">
														<div ng-if="feedback.qtype=='textarea'">
														{{feedback.question}}<br>
														<textarea rows="1" cols="40"  ng-model="feedback.value" ng-minlength="10" ng-required="true"></textarea></div>
													</div>	
										</div>
													</div>
								<div class="clearfix"></div>
                                                     <div class="form-group col-sm-12">
														<label class="col-sm-3 control-label no-padding-right">&nbsp;</label>
														<div class="col-sm-9">
															<input type="submit" ng-disabled="Exitemp.$invalid" class="btn btn-primary"
																value="submit">
																</div>
																
														</div>
														<div style="clear:both; height:10px;"></div>												
													
													</div>
													</div>													
											
											</form>
											</div>
											</div>
											</div>
											
											
								

							</div>
							<!-- /.row -->
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content-area -->
			</div>
			<!-- /.page-content -->
		</div>

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"><i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a>
	</div>
	</body>
</html>
