<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>RM Approval</title>
</head>
<body>
<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>
<!-- ng-init="approvalActionInit()" -->
<div class="modal-body">
    <form class="form-horizontal"  ng-controller="approvalController" ng-init="approvalActionInit()" name="rmApprovalForm" 
    ng-submit="resignAction(rmApprovalForm)" >
        <div class="form-group">
        
           
            <div class="form-group col-sm-12" ng-repeat="question in rmfeedback" >
                <div ng-if="question.qType == 'textarea'">
                <label  class="col-sm-10 control-label no-padding-right" style="text-align: left; padding-bottom:5px;">{{question.qText}}</label>
                <div class="col-sm-12">
                 
                  <textarea rows="2" cols="85" ng-model="question.qAns" ></textarea> 
                
                </div>
                </div>
            </div>
            
            <div style="clear:both; height: 10px;"></div>
            
            <div class="form-group col-sm-12">
                <label  class="col-sm-8 control-label" style="text-align: left;">Decision</label>
                <div class="col-sm-4">
                <label for="acceptRadio">Accept</label>
                <input id="acceptRadio" type="radio" name="action" ng-model="resAction" value="2">
                <label for="rejectRadio">Reject</label>
                <input id="rejectRadio" type="radio" name="action" ng-model="resAction" value="3">
                </div>
            </div> 
            
            <div style="clear:both; height: 5px;"></div>
       <div class="col-sm-12" style=" text-align: center;">
       <input type="submit" value="SUBMIT" class="btn btn-primary"> </div>
         
       </div>
                       
    </form>
</div>


</body>
</html>