<!DOCTYPE html>
<html lang="en">
<head>
<title>Ex-Employee Registration</title>
</head>
<body class="no-skin">
	<div class="main-container" id="main-container"
		style="margin-top: 10px;">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>
		<div class="main-content" ng-controller="registercontroller">

			<div class="page-content">
				<div class="page-content-area">
					<!-- /.page-header -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<div class="col-xs-12 widget-container-col ui-sortable">
										<div class="widget-box ui-sortable-handle"
											style="opacity: 1; z-index: 0;">
											<div class="widget-header">
												<h5 class="widget-title">Ex-Employee Registration </h5>

											</div>
											<form name="register" ng-submit=submit(register) novalidate>
												<div class="widget-body" style="display: block;">
													<div class="widget-main form-horizontal">
													
												<div class="clearfix"></div>	
													
								
<div class="form-group row col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="employeecode">Employee code </label>
															<div class="col-sm-9">
<input type="text"  class="col-xs-10 col-sm-12" name="employeecode"  ng-model="Employeecode" placeholder="employee code" ng-minlength="4" ng-maxlength="6" required/>
			<span ng-show="register.employeecode.$dirty && register.employeecode.$error.required">Employee code Required!</span>
          <span ng-show="register.employeecode.$dirty && register.employeecode.$error.minlength">Too short!</span>
        <span ng-show="register.employeecode.$dirty && register.employeecode.$error.maxlength">Too long!</span> 
				
				</div>
</div>
<div class="clearfix"></div>

<div class="form-group row col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="employeeemail">Personal Employee Email </label>
															<div class="col-sm-9">
<input type="email"  class="col-xs-10 col-sm-12" name="email"  ng-model="Employeeemail" placeholder="email" required="true"/>
<!--  <span "ng-show="register.email.$dirty && register.email.$error.required">Email Required!</span> -->
 <span class="error" ng-show="register.email.$error.email">Not valid email!</span>
				</div>
</div>
<div class="clearfix"></div>

<div class="form-group row col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="employeeepassword">Employee Password </label>
															<div class="col-sm-9">
<input type="password"  class="col-xs-10 col-sm-12" name="user_password"  ng-model="password" placeholder='password' required="true">
<span ng-show="register.user_password.$dirty && register.user_password.$error.required">Password Required!</span>
				</div>
</div>
<div class="clearfix"></div>

<div class="form-group row col-sm-6">
															<label class="col-sm-3 control-label no-padding-right"
																for="confirmpassword">confirm password </label>
															<div class="col-sm-9">
<input type="password"  class="col-xs-10 col-sm-12" name='user_password'  ng-model="passwordverify" placeholder='confirm password' ng-required="true"/>
<span ng-show="password !==passwordverify">password mismatch</span>
<!-- <span ng-show="register.user_password.$dirty && register.user_password.$error.required">Password Required!</span> -->

				</div>
</div>



							<div class="clearfix"></div>

														<div class="center">
															 <input type="submit" value="submit" ng-disabled="register.$invalid || password!==passwordverify">
		<!-- register.$invalid &&  -->												</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>


							</div>
							<!-- /.row -->
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content-area -->
			</div>
			<!-- /.page-content -->
		</div>
		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"><i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a>
	</div>
	<!-- /.main-container -->
</body>
</html>
