<!DOCTYPE html>
<html lang="en">
<head>
<title>Exit Interview With HR</title>
</head>
<body class="no-skin">
	<div class="main-container" id="main-container"
		style="margin-top: 10px;">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>
		<div class="main-content" ng-controller="feedbackmodalcontroller" ng-init="init()">

			<div class="page-content">
				<div class="page-content-area">
					<!-- /.page-header -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<div class="col-xs-12 widget-container-col ui-sortable">
										<div class="widget-box ui-sortable-handle"
											style="opacity: 1; z-index: 0;">
											<div class="widget-header">
												<h5 class="widget-title"> HR FEEDBACK</h5>

											</div>
											<form name="hrfeedback" ng-submit=submit(hrfeedback) novalidate>
												<div class="widget-body" style="display: block;">
													<div class="widget-main form-horizontal">
													
												<div class="clearfix"></div>	
													
								
<div class="form-group row col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="employeecode">Employee code </label>
															<div class="col-sm-9">
<input type="text"  class="col-xs-10 col-sm-12" name="employeecode"  ng-model="employeecode" ng-disabled="true"/>
				</div>
</div>
<div class="clearfix"></div>

                                                            <div class="form-group row col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="firstname"> First name </label>
															<div class="col-sm-9">
<input type="text"  class="col-xs-10 col-sm-12" name="firstname"  ng-model="employeefirstname" ng-disabled="true"/>
				
															</div>
														</div>
														
														
												<div class="form-group row col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="lastname"> Last name </label>
															<div class="col-sm-9">
<input type="text" class="col-xs-10 col-sm-12" name="lastname"  ng-model="employeelastname" ng-disabled="true"/>
					
															</div>
														</div>		
														
														
<div class="clearfix"></div>
														<div class="form-group col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="department">Department </label>

															<div class="col-sm-9">

 <input type="text"  class="col-xs-10 col-sm-12" name="department" ng-model="employeedepartment" ng-disabled="true"/>
	
															</div>
														</div>
														
<!-- <div class="clearfix"></div> -->


															<div class="form-group col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="designation">Designation:</label>

															<div class="col-sm-9">

	
	<input type="text"  class="col-xs-10 col-sm-12" name="designation" ng-model="employeedesignation" ng-disabled="true"/>
															</div>
														</div>
														
<div class="clearfix"></div>

							<div class="form-group col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="emplocation">Location </label>

															<div class="col-sm-9">
				<input type="text"  class="col-xs-10 col-sm-12" name="emplocation" ng-model="employeelocation" ng-disabled="true"/>
															</div>
														</div>
														
														
														<div class="clearfix"></div>
											

														
														<div class="clearfix"></div>
														<center><h3>Exit Interview Feedback</h3></center>
														<div class="clearfix"></div><!-- value={{feedback.question}} -->
<div ng-repeat="feedback in hrquestion">
<div ng-if="feedback.qtype=='textarea'">
{{feedback.question}}<br/><textarea rows="1" cols="20"  ng-model="feedback.value"></textarea></div>
								</div>						
														<div class="clearfix"></div>

														<div class="center">
															<input type="submit"  value="submit">
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>


							</div>
							<!-- /.row -->
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content-area -->
			</div>
			<!-- /.page-content -->
		</div>
		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"><i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a>
	</div>
	<!-- /.main-container -->
</body>
</html>
