<!DOCTYPE html>
<html lang="en">
<head>
<title>NO DUES ASSETS</title>
</head>
<body class="no-skin">
	<div class="main-container" id="main-container"
		style="margin-top: 10px;">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>
		<div class="main-content" ng-controller="noduesinframodalcontroller" ng-init="init()">

			<div class="page-content">
				<div class="page-content-area">
					<!-- /.page-header -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<div class="col-xs-12 widget-container-col ui-sortable">
										<div class="widget-box ui-sortable-handle"
											style="opacity: 1; z-index: 0;">
											<div class="widget-header">
												<h5 class="widget-title"> NO DUES INFRA ASSETS</h5>

											</div>
											<form name="infra" ng-submit=submit(infra) novalidate>
												<div class="widget-body" style="display: block;">
													<div class="widget-main form-horizontal">
													
												<div class="clearfix"></div>	
													
								
<div class="form-group row col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="employeecode">Employee code </label>
															<div class="col-sm-9">
<input type="text"  class="col-xs-10 col-sm-12" name="employeecode"  ng-model="emplycode" ng-disabled="true"/>
				</div>
</div>
<div class="clearfix"></div>

                                                            <div class="form-group row col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="firstname">Employee name </label>
															<div class="col-sm-9">
<input type="text"  class="col-xs-10 col-sm-12" name="firstname"  ng-model="empfirstname" ng-disabled="true"/>
				
															</div>
														</div>
										
<div class="clearfix"></div>
														<div class="form-group col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="department">SpokeCode </label>

															<div class="col-sm-9">

 <input type="text"  class="col-xs-10 col-sm-12" name="department" ng-model="empdepartment" ng-disabled="true"/>
	
															</div>
														</div>
														
<!-- <div class="clearfix"></div> -->


															<div class="form-group col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="designation">Designation:</label>

															<div class="col-sm-9">

	<span ng-show="Exit.designation.$error.required">Select one designation!</span> 
	<input type="text"  class="col-xs-10 col-sm-12" name="designation" ng-model="empdesignation" ng-disabled="true"/>
															</div>
														</div>
														


<div class="clearfix"></div>

														<div class="form-group col-sm-12">
															<label class="col-sm-3 control-label no-padding-right" style="font-size: 13px; font-weight: normal;text-align: left;"
																for="emplocation">Location </label>

															<div class="col-sm-9">
				<input type="text"  class="col-xs-10 col-sm-12" name="emplocation" ng-model="emplocation" ng-disabled="true"/>
															</div>
														</div>
														
														
														<div class="clearfix"></div>
											 <div class="widget-body" style="display: block;">
												<div class="widget-main">
										<div ng-if="nodueinfraassets.length<=0">
																<div class="col-sm-9 col-md-12" style="padding-left:0;">
            <div class="alert alert-success">
                 <span class="glyphicon glyphicon-ok">
               </span> <strong>{{error}}</strong>
                </div>
                   </div>										
						</div>
						<hr/>
						<br/>				
													<div class="table-responsive" ng-if="nodueinfraassets.length>0">
														<table class="table">
														 
														 <thead>
																<tr>
																	<th>item</th>
																	<th>barcode</th>
																	<!-- <th>issued</th> -->
																	<th>received</th>
																</tr>
															</thead>
													
														  <tbody ng-repeat="emp in nodueinfraassets">      
														<tr>
	<td>{{emp.name}}</td> <td>{{emp.barcodeno}}</td> <td><input type="checkbox" value="{{emp.name}}" value="{{emp.barcodeno}}" id="check" name="check" ng-model="emp.selected" required="true"/></td>
								<!-- <td> <input type="checkbox"   value="{{emp.name}}"  ng-model="checked" ng-init="checked=true"/></td> -->
								 <span ng-show="infra.check.$dirty && infra.check.$error.required">This field is required</span>
								 
								 </tr>
							</tbody>
						 </table>
						</div>
					</div>
				</div> 
				<div class="clearfix"></div>
									<div class="form-group col-sm-12">	
					<label for="comment" class="col-sm-3 control-label no-padding-right"  style="font-size: 13px; font-weight: normal;text-align: left;">COMMENTS:</label>
					<div class="col-sm-9">
 <textarea    rows="1" cols="45" id="comment" name="comment" placeholder="comments..." ng-model="empcomments" required> </textarea>
 <span ng-show="infra.comment.$dirty && infra.comment.$error.required">This field is required</span>
					</div>
					</div>
					<!-- </div> -->
					
					<div class="clearfix"></div>
					
					<div class="modal-footer">
                <button type="submit" value="submit"  ng-disabled="infra.$invalid"  class="btn btn-primary" ng-click="ok()">RECEIVE</button>
                <button type="reset" class="btn btn-warning" ng-disabled="infra.comment.$error.required" ng-click="reject()">PENDING</button>									
													
														<div class="clearfix"></div>

														<div class="center">
															
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>


							</div>
							<!-- /.row -->
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content-area -->
			</div>
			<!-- /.page-content -->
		</div>
		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"><i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a>
	</div>
	<!-- /.main-container -->
</body>
</html>
